 <div class="table-responsive">

  <form method="post" action="/surfspots/add">

    <table class="table editTable">

      <tbody>
       <tr>
        <th width="175">Name: </th>
        <td><input type="text" name="name" required placeholder="Name of Beach"></td>
       </tr>
        <tr>
          <th>Town: </th>
          <td><input type="text" name="town" required placeholder="ex. Newport"></td>
        </tr>
        <tr>
          <th>State: </th>
          <td><input type="text" name="state" required required placeholder="ex. RI"></td>
        </tr>
        <tr>
          <th>Latitude: </th>
          <td><input type="number" step="any" name="latitude" min="40" max="50" required placeholder="ex. 44.7793"></td>
        </tr>
        <tr>
          <th>Longitude: </th>
          <td><input type="number" step="any" name="longitude" min="-75" max="-65" required placeholder="ex. -71.5354"></td>
        </tr>
        <tr>
          <th>Description: </th>
          <td><textarea name="description" required placeholder="Enter a brief description of this spot"></textarea></td>
        </tr>
        <tr>
          <th>Info Link: </th>
          <td><input type="text" name="infoLink" required placeholder="Enter a link with more info about this spot"></td>
        </tr>
        <tr>
          <th>Surf Shop Link: </th>
          <td><input type="text" name="surfShopLink" placeholder="Enter a link to a nearby surf shop"></td>
        </tr>
        <tr>
          <th>Surfline Link: </th>
          <td><input type="text" name="surflineLink" placeholder="Enter a link to a Surfline surf forecast"></td>
        </tr>
        <tr>
          <th>Magic Seaweed Link: </th>
          <td><input type="text" name="mswLink" placeholder="Enter a link to a Magic Seaweed surf forecast"></td>
        </tr>
        <tr>
          <th>SwellInfo Link: </th>
          <td><input type="text" name="swellInfoLink" placeholder="Enter a link to a SwellInfo surf forecast"></td>
        </tr>
<!--         <tr>
          <th>MSW ID: </th>
          <td><input type="number" name="msw_id" min="0" max="9999" required placeholder="MagicSeaweed API spot ID"></td>
        </tr> -->
      </tbody>

      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Save" class="btn btn-success">
           <input type="button" value="Cancel" class="btn btn-default" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>

    </table>

    <p class="error-message">{{data.errorMessage}}</p>

  </form>

</div>
