 <div class="table-responsive">

  <form method="post" action="/createAccount">

    <table class="table smallTable" id="createAccountTable">

      <tbody>
       <tr>
          <th width="200">User Name: </th>
          <td><input type="text" name="userName" required></td>
       </tr>
        <tr>
          <th>Password: </th>
          <td><input type="password" name="password" required></td>
        </tr>
        <tr>
          <th>Confirm Password: </th>
          <td><input type="password" name="password2" required></td>
        </tr>
      </tbody>

      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Create Account" class="btn btn-success">
           <input type="button" value="Cancel" class="btn btn-default" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>

    </table>

    <p class="error-message">{{data.errorMessage}}</p>

  </form>

</div>