 <div class="table-responsive">

  <form method="post" action="/login">

    <table class="table smallTable" id="loginTable">

      <tbody>
       <tr>
        <th width="150">User Name: </th>
        <td><input type="text" name="userName" required></td>
       </tr>
        <tr>
          <th>Password: </th>
          <td><input type="password" name="password" required></td>
        </tr>
      </tbody>

      <tfooter>
        <tr>
          <td></td>
          <td>
           {{#if data.fromId}}<input type="hidden" name="fromId" value="{{data.fromId}}">{{/if}}
           <input type="submit" value="Login" class="btn btn-success">
           <input type="button" value="Cancel" class="btn btn-default" onclick="cancelAdd()">
          </td>
        </tr>
      </tfooter>

    </table>

    <p class="error-message">{{data.errorMessage}}</p>

  </form>

</div>